.toollogo {
  height: 80px;
}

#toollogos {
  width: 100%;
}

#thumbs {   
    width: 100%;
    margin-top: 20px;
    margin-left: auto; 
    margin-right: auto;

     text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}



#thumbs-middle {   
    width: 35%;
    margin-top: 20px;
    margin-left: auto; 
    margin-right: auto;

     text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#thumbs a {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    align: center;
}

.submenu {
   width: 100%;
}

.toolvideo {
    float: left;
    margin-top: 114px;
    margin-left: 100px;
    width: 600px;
    height: 350px;
}

.toolrightnav {
    margin-left: 65%;
    margin-top: 45px;
}

.toolrightnavicon {
    border-radius: 0px !important;
}